docker/**/*
frontend-react-js/build/*
frontend-react-js/package-lock.json
*.env
node_modules
.aws-sam
build.toml
.vscode/settings.json
aws/lambdas/cruddur-upload-avatar/vendor/*
aws/lambdas/cruddur-upload-avatar/.bundle/config
sam-installation
